html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.node {
  cursor: pointer;
}

.overlay {
  background-color: #fff;
}

.node circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.node text {
  font-size: 16px;
  font-family: monospace;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show {
  display: block;
}

.ghostCircle, .activeDrag .ghostCircle {
  display: none;
}

div.tooltip {
  position: absolute;
  padding: 2px;
  font: 12px monospace;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
